.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#first{
   color: white;
  font-weight: 700;
  font-size: 15px;
}
.now {
  display: inline-block;
}
.bg-nav {
  background-color: #D92D20;
  padding: 13px 0px;
  background-attachment: fixed;
}
.image2 {
  width: 34px;
}
.nav-link {
  font-weight: 500 !important;
  font-size: 12px !important;
}
.small {
  display: flex;

}
.btn-danger  {
  background-color: #D92D20 !important;
  /* padding: 12px 23px; */

}
 .card-body {
  display: grid;
  /* flex-wrap: wrap; */
    grid-template-columns: 1fr, 1fr, 2fr;
  /* grid-template-columns: 200px 200px 200px  200px; */
}
.tiny {
  width: 200px !important;
  display: flex;
}
 .section4 {
  background-color: #D92D20 !important;
  color: white !important;
  height: 35vh;
  width: 100vw;
}
.gro {
  font-size: .875rem;
}
.deliver {
  color: #475467;
  font-size: 13px;
}
.dis {
  width: 300vw !important;

}
.market {
  color: black;
  font-family:SHPCFONT, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; ;
}
.right {
  color: black;
  font-size: 27px;
  margin: 20px 0px 0px;
}
.select {
  color: #475467;
  font-size: 19px;
}
.flow {
  background-color:#F9FAFB !important;
  margin: 40px 0px 0px !important;

}
.cart span{
  color: #D92D20;
  font-size: 20px;
  font-weight: 800px;
}
.unlist{
  list-style-type: none;
  color: white;
  font-family: SHPCFONT, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}
.section2{
  background-size: cover;
background-repeat: no-repeat;
padding: 56px 0px;
background-color:#101828;
}
.two p {
  color: #98A2b3;
  font-size: 16px;
  font-family: SHPCFONT, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.unlist h5 {
  color: #98A2b3;
}
.media li {
  list-style-type: none;
  color: white;
}
.media i {
   color: white;
}
.wrap {
  background-color: #D92D20;
  border-radius: 10px;
  max-width:20rem;
  height: 14rem;
  text-align: center;
}
.section {
background-size: cover;
background-repeat: no-repeat;
/* padding: 26px 0px; */
background-color:#1D2939;

}
.plus {
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 3px 70px;
}
.cart {
  border-radius: 34px;
  border: none;
  background-color: white;
  display: inline-block;
  padding: 12px 100px;
 
} 
.card-body {
  color: #D92D20 !important;
}
/* .card-img-top{
  width: auto !important;
} */
.fresh {
  font-size: 20px;
  font-family: SHPCFONT, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.cardborder{
  width: 22rem;
}
.form-control {
  width: 39% !important;
  height: 30px!important;
  border-radius: 49px !important;
}

.order {
  color: bisque;
  font-size: 13px;
}
.fa {
  font-size: 33px;
  font-weight: normal;
}
.shop{
  font-size: 23px;
  font-family: SHPCFONT, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
}
.get1 {
  color: white;
  font-family: SHPCFONT, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 39PX;
  word-wrap: break-word;
  position: relative;
}
.la {
  color:#D92D20;
  font-family: SHIPCFONT, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 23px;
}
.logo {
  position: relative;
  right: 30px;
  width: 32px;
}
.top1 {
 width: 280px;
 height: 240px;
}
.section3 {
  background-color: #D92D20;
  height: 30vw;
  background-repeat: no-repeat;
  /* width: 200vw; */
  background-size: cover;
  position: relative;
}
@media  only screen  and (max-width:500px) {
  #first{
    color: white;
    font-weight: 700;
    font-size: 12px;
  }
  .fresh {
    font-size: 19px;
    font-family: SHPCFONT, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
  }
  .order{
    display: none;
  }
  .dis {
    display: none;
  
  }
  .form-control {
    width: 69% !important;
    height: 34px!important;
    border-radius: 49px !important;
  }
  .brand {
    width: 200px !important;
  }
  .gro {
    font-size:12px;
  }
.section3{
  height: 50vh;
}
.wrap {
  background-color: #D92D20;
  border-radius: 10px;
  max-width:40rem;
  height: 14rem;
  text-align: center;
}
  .best{
    color: #26bd58;
    font-family: SHPCFONT, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:17px;
    word-wrap: break-word;
    font-weight:600;
  }
  .limit{
    color: #FFFFFFFC !important;
    font-size: 16PX !important;
    font-family: SHPCOFONT, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  }
  .img4{
    display: none;
 
  }
  /* .logo {
    position: relative;
    color: black !important;
    right: 100px;
  } */
}